*{
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/galaxy.webp);
	background-position: center;
	background-size: cover;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width:75px;
	height: 75px;
}

.glow-logo{
	padding: 15px;
	padding-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	color: rgb(255, 255, 255);
	
}

.nav-links{
	flex:1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}

nav .fa-solid{
	display: none;
}

@media (max-width: 1000px) {
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #22689d;
		height: 100vh;
		width: 200px;
		top: 0;
		right:-200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa-solid{
		display: block;
		color: #fff;
		margin: 20px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 20px;
	}
}


@media(max-width: 700px){
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #22689d;
		height: 100vh;
		width: 200px;
		top: 0;
		right:-200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa-solid{
		display: block;
		color: #fff;
		margin: 20px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 20px;
	}
}

.a-footer {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
  }
  
  a:hover, a:focus {
	text-decoration: none;
  }
  
  .form-control {
	background: #212529;
	border-color: #545454;
  }
  
  .form-control:focus {
	background: #212529;
  }
  
  footer {
	background-color: hsl(0, 0%, 73%);
  }

  .footer{
	color:rgb(42, 42, 42);
  }

  .mb-3{
	  color: #341D44;
	  font-family: 'Poppins', sans-serif;
  }

  p .small{
	  color:#000;
  }

  @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
  
  .footer-social-links{
	font-size: 14px;
  text-align: center;
  
}
.footer-social-links a{
	width: 25px;
	height: 25px;
	line-height: 25px !important;
	position: relative;
	margin: 0 5px;
	text-align: center;
	display: inline-block;
	color: #111;
	
	-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
	-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
	-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
	position: relative;
	top: 2px;
	left: 1px; 
}
.footer-social-links a:before{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #111;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	
	-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
	-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
	-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	
}
.footer-social-links a:hover{
	color: #fff;
}
.footer-social-links a:hover:before{
	background: #111;
}

.project-image{
	height: 29vw;
	width: 43vw;
	display: inline-block;
	margin: 0 0 6vw 6.5vw;
	overflow: hidden;
	filter: drop-shadow(2px 2px 7px black);
	vertical-align: bottom;
}

.project-image img{
	height: 28vw;
	width: 56vw;
	overflow: hidden;
	transform: translateX(-12%);
}

#project2-img{
	height: 40vw;
	width: 42vw;
	transform: translateY(-14%);
}

#project3-img{
	height: 41vw;
	width: 43vw;
	transform: translateY(-18%);
}

#project4-img{
	height: 32vw;
}

#project5-img{
	height: 30vw;
	width: 45.5vw;
	transform: translateX(-3%);
}

#project6-img{
	transform: translateX(-2%);
}

.details-project{
	height: 28vw;
	width: 44vw;
	padding-left: 4vw;
	margin-bottom: 6vw;
	display: inline-block;
	vertical-align: bottom;
}

.details-project h1{
	background-color: #be29ec;
	background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3vw;
	font-weight: 900;
	text-align: left;
	padding-bottom: 1.2vw;
}

.details-project p{
	color: white;
	font-size: 1.45vw;
	text-align: left;
	padding: 1vw 1vw 1vw 0;
}

.details-project p span{
	background-color: #be29ec;
	background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
}

@media (max-width: 760px){
	.project-image{
		height: 40vw;
		width: 65vw;
		display: block;
		margin: auto;
	}

	.project-image img{
		height: 41vw;
		width: 84vw;
	}

	#project2-img{
		height: 55vw;
		width: 65vw;
	}

	#project3-img{
		height: 57vw;
		width: 63vw;
	}

	#project4-img{
		height: 45vw;
	}

	#project5-img{
		height: 42vw;
		width: 68.5vw;
	}
	
	.details-project{
		height: auto;
		width: auto;
		padding: 6vw 15vw 0 15vw;
	}
	
	.details-project h1{
		font-size: 5.5vw;
		text-align: center;
		padding-bottom: 1.2vw;
	}
	
	.details-project p{
		font-size: 2.8vw;
		text-align: center;
		padding: 1vw 1vw 1vw 0;
	}
}

.feedback{
	text-align: center;
	padding: 0 15vw;
}

.feedback h1{
	color: white;
	border-bottom: 0.22vw solid #3eadcf;
	padding: 3vw 0;
	font-size: 3vw;
	font-weight: 900;
	background-color: #be29ec;
	background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.feedback img{
	height: 11vw;
	width: 11vw;
	margin-top: 3.5vw;
}

.feedback p{
	color: white;
	font-size: 1.3vw;
	padding: 2.2vw 12vw;
}

.feedback h4{
	background-color: #7f53ac;
	background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.8vw;
	font-weight: 700;
	padding-bottom: 2vw;
}

.star-rating{
	border-bottom: 0.22vw solid #4682B4;
	margin-bottom: 7vw;
}

.star-rating i{
	font-size: 1.3vw;
	color: #ffdc12;
}

.star-rating h6{
	color: white;
	padding-bottom: 3.5vw;
	font-size: 1.2vw;
}

@media (max-width: 760px){

	.feedback h1{
		font-size: 5.5vw;
		border-bottom: 0.4vw solid #3eadcf;
	}
	
	.feedback img{
		height: 20vw;
		width: 20vw;
		margin-top: 4.5vw;
	}
	
	.feedback p{
		font-size: 2.7vw;
		padding: 3.5vw 9vw;
	}
	
	.feedback h4{
		font-size: 3.2vw;
		font-weight: 700;
		padding-bottom: 3vw;
	}
	
	.star-rating{
		border-bottom: 0.4vw solid #3eadcf;
		margin-bottom: 10vw;
	}
	
	.star-rating i{
		font-size: 2.7vw;
		color: #ffdc12;
	}
	
	.star-rating h6{
		padding-bottom: 6vw;
		font-size: 2vw;
	}
}
